* {
    margin: 0px;
    font-family: arial;
    border: border-box;

}

.navbar {
    height: 6.61vh;
    color: white;
    background-color: #131921;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 5.51vh;
    width: 8.91vw;
    display: flex;
    align-items: center;
}


.logo {
    background-image: url(amazon_logo.png);
    height: 5.51vh;
    background-size:contain;
    background-repeat: no-repeat;
    width: 8.91vw;
    align-self: center;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}
.nav-add-main{
    height: 5.51vh;
    display: flex;
    align-items: center;
    width: 10vw;
    
}
.nav-add{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}
.add-1 {
    color: #cccccc;
    font-size: 0.88rem;
    
}

.add-2 {
     font-size: 1rem;
     font-weight: 700;
}
.nav-search{
    height: 5.51vh;
    width: 50vw;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}
.nav-search:target{
   border: 2px solid #f08a05;
}
.select-btn{
    width: 10%;
    height: 100%;
    border: none;
}
.search-input{
    width: 82%;
    height: 100%;
    border: none;
}
.search-input:focus
{
    border: none;
}
.search-btn-div{
    width: 8%;
    height: 100%;
    background-color: #ffbe69;
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
}

